.upldPageH { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogupload{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    .civiial { 
        cursor: pointer;
        position: relative;
        right: 260px;
    }
    form { 
        width: 600px;
        height: 928px;
        background-color: blue;

        input { 
            width: 100%;
            height: 180px;
            border-radius: 12px;
            border: dashed 1px #000;
        }
    }
}
.blguH { 
    margin-bottom: 40px;
    span { 
        font-size: 32px;
        font-weight: bold;
    }   
}
.picuptitle{ 
    margin-bottom: 8px;
    span{
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 12px;
    }
}

.imgupload { 
    width: 100%;
    height: 180px;
    border-radius: 12px;
    border: 1px dashed;
    background-color: #F4F3FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    img { 
        position: relative;
        top: 20px;
    }
    span{
        position: relative;
        right: 44px;
        top: 20px;
        font-size: 14px;
    }
    label { 
        position: relative;
        left: 94px;
        top: -30px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline; 
        cursor: pointer;
    }
    
}
.authorInputType,.headLineInputType{
    width: 288px !important;
    height: 44px !important;
    background-color: #FCFCFD  !important;
    border: 1px solid #E4E3EB !important;
}
.userdetails { 
    margin-top: 20px;
    display: flex;
}