.upldPageH {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

.container_sl {
    width: 600px;
}

.subm {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 32px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .picuploderdiv {
        display: flex;
        flex-direction: column;
        height: 180px;
        border: 1px dashed #000000;
        border-radius: 12px;
        background-color: #F4F3FF;

        label {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input {
            height: 180px;
            border: 1px dashed #000000;
            border-radius: 12px;
            margin-bottom: 24px;
        }
    }
}

.flexup {
    display: flex;
    justify-content: center;
}

.detailsusrtitle {
    display: flex;
}

.detailuser,
.detailtitle {
    display: flex;
    flex-direction: column;

    
}

.detailuser label,
.detailtitle label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detailuser input,
.detailtitle input,
.date_in input,
.cat_ls select,
.email_ls input,
.submitionbtn button{

    width: 288px;
    height: 44px;
    border: 1px solid #E4E3EB;
    border-radius: 12px;
    margin-bottom: 24px;
}

.detailtitle { 
    margin-left: 17px;
}

.description_ls,.date_in,.cat_ls,.email_ls{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    label { 
        margin-bottom: 10px;
    }
}
.description_ls { 
    textarea{
        height: 124px;
        border-radius: 12px;
        border: 1px solid #E4E3EB;
        padding: 8px;
    }
    span { 
        font-size: 12px;
        font-weight: none;
        color: #A8A6B2;
        margin-top: 10px;
        margin-bottom: 24px;
    }
}

.fjjKK{
    display: flex;
    justify-content: space-between;
}
.submitionbtn{
    display: flex;
    justify-content: flex-end;
    button { 
        color: #FFFFFF;
        font-weight: bold;
    }
}
.listcriteriums{
    li { 
        color: #85858D;
        margin-bottom: 10px;
        font-size: 12px;
    }
    margin-bottom: 10px;
}
.css-13cymwt-control{
    width: 288px !important; 
    height: 44px !important;
    border-radius: 12px !important;
}
.css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    width: 288px;
    height: 44px !important;
}
.css-1y7rh0y-MultiValueGeneric2 { 
   border-radius: 12px;
}
.picuploaderdiv{
    height: 180px;
    border: 1px dashed #000000;
    border-radius: 12px;
    background-color: #F4F3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}