header {
    background-color: #E4E3EB;
    height: 80px;
    display: flex;
    width: 100%; 
    
    li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between ;
        list-style : none;
        padding: 28px 76px;
    }
    .logInButt{
        width: 93px;
        height: 40px;
        background-color: #5D37F3;
        border-radius: 8px;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
    }
}